header{
    min-height: 20px;
    width: 100%;
    
}
nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0px 20px 0px 20px;
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;

    gap: 70px;
    
}
ul a{
    text-decoration: none; 
    color: white;
    list-style-type: none;
}
li{
    margin-top: 5px;
    list-style: none;
  transition: all 0.3s ease;
  font-weight: bold;
 

}


li a:hover {
  transform: translateY(-3px);
  color: #00bfff;
  cursor: pointer;
}
li:hover{
     transform: translateY(-3px);
}
.Headerlogo{
    margin-left: 20px;
}
