html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
.hero{
   min-height: 100vh;
   background: linear-gradient(to right,#7b2ff7,#a832ff);
}